body {
    margin: 0;
    padding: 0;
  
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(216, 149, 243, 0.795);
}

.container {
    width: 80%;
    height: 50%;
    background-color: blanchedalmond;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
}

.user {
    height: 250px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

.photo {
    width: 10%;
    height: 40%;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
}

.userData {
    display: flex;
    flex-direction: column;
    
}